.mb3-jk {
    border: none !important;
}

.card-img-jk {
    padding: 0px 0px 0px 75px !important;
}

.section-3 {
    margin-bottom: 20px;
}

.sec-3hdiv-jk {
    padding: 0px 100px;
    margin: 30px 0px;
}

.sec-3jk span {
    background-color: #fff;
    position: relative;
    font-family: Teko, sans-serif;
    line-height: 43px;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    font-weight: 600;

}

.crd-jk {
    font-size: 14px !important;
}

@media (min-width: 570px) and (max-width: 769px) {
    .card-img-jk {
        padding: 0px 0px 0px 25px !important;
    }

    .crd-jk {
        font-size: 10px !important;
    }
}

@media (max-width: 568px) {
    .section-3 .col {
        flex: none;
    }

    .col-md-4 {
        padding: 0px 140px !important;
    }

    .card-img-jk {
        padding: 0px 0px 0px 0px !important;
    }
}

@media (min-width: 786px) and (max-width: 1024px) {

    .card-body-md3 {
        padding: 0rem 1rem !important;
    }

    .card-img-jk {
        padding: 0px 0px 0px 40px !important;
    }
}