/*--------------------------------section-2-------------------------------------------------*/
.section-2 {
    background-image: url("../../../public/assets/images/bg_support1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 0px;
    margin: 50px 0px;
}

.sec-2bg-bnnr {
    padding-left: 14em;
}

.col-2-sec .title {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1em;
    color: #fff;
    font-family: Teko, sans-serif;
}

.desc {
    font-size: 28px;
    font-weight: 600;
    color: #e9a31b;
    font-family: Teko, sans-serif;
    line-height: 28px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px 0px 34px;
    padding: 0px;
}



@media (min-width: 569px) and (max-width: 769px) {
    .section-2 {
        padding: 25px 0px;
        margin: 40px 0px;
    }

    .sec-2bg-bnnr {
        padding-left: 8em;
    }

    .desc {
        font-size: 18px;
        line-height: 18px;
        margin: 0px 0px 10px;
    }

    .col-2-sec a.ireca_tran {
        line-height: 10px;
    }

    .col-2-sec .title {
        margin-top: 20px;
        margin-bottom: 8px;
    }
}


@media (max-width: 568px) {
    .section-2 {
        padding: 0px 0px;
        margin: 30px 0px;
    }

    .sec-2bg-bnnr {
        padding-left: 38px;
    }

    .desc {
        font-size: 10px;
        line-height: 10px;
        margin: 0px 0px 4px;
    }

    .col-2-sec a.ireca_tran {
        line-height: 10px;
    }

    .col-2-sec .title {
        margin-top: 20px;
        margin-bottom: 8px;
    }

    .col-2-sec .title {
        font-size: 10px;
    }

    .col-2-sec a.ireca_tran {
        padding: 7px 12px;
        font-size: 10px;
        margin-bottom: 4px;
    }
}