.footer-jk {
    margin: auto;
    background: var(--primaryDark);
    position: relative;
}

.footer {
    z-index: 3;
    background: var(--bs-primary);
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
    color: #fff;
}


.footer-jk-sec {
    height: 10px;
    width: 100%;
}

.footer-para {
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 16px 0px;
}



.footer-links{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li{
    margin: 5px 0;
}
.footer-links li a{
    color: #fff;
    text-decoration: none;
}